<launch>
    <node pkg="dji_osdk_ros" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="acm_name" type="string" value="/dev/ttyACM0"/>
    <param name="serial_name" type="string" value="/dev/ttyTHS1"/>
    <param name="baud_rate" type="int" value="921600"/>
    <param name="app_id" type="int" value="1120211"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="875846000482afc0a73561fc769df88728f9f8cbdaf1c5ac66aed57106d991c6"/>
    <param name="use_broadcast" type="bool" value="false"/>
    <param name="dxc" type="bool" value="true"/>
    </node>
</launch>
